
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        #User Input:  Text fields / forms and submit button
        <form method="post" action="~/Home/PostData">
            <strong>Username:</strong>
            <input type="text" name="name" />
            <br />
            <strong>Password:</strong>
            <input type="password" name="password" />
            <br />
            <input type="submit" value="Pick this one!" />
        </form>
    </div>
</body>
</html>
